:root {
    --light-blue: rgb(55, 95, 187) !important;
    --light-green: rgb(40, 220, 70) !important;
    --light-red: rgb(216, 34, 34) !important;
}

.cuicomponent {
    font-size: 2.0vmin;
    font-family: 'Nunito', 'Trebuchet MS', 'Lucida Sans', Arial, serif;
}

.graphdlc-info {
    position: absolute;
    top: 1vmin;
    left: 1vmin;
}

.settings-space {
    height: 1vh;
}

.setting-value select {
    border-radius: 0.6vh !important;
    padding: 0.2rem !important;
}

.setting-value input[type='checkbox'] {
    width: 1.1rem !important;
    height: 1.1rem !important;
}

.ui-inventory-items {
    background-color: var(--light-blue) !important;
    border-radius: 1.2vw !important;
}

.ui-inventory-line {
    background-color: transparent !important;
}

.inventory-item {
    background-color: var(--background) !important;
    border-radius: 1.2vw !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.inventory-item img {
    width: 2.8vw !important;
    height: 2.8vw !important;
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}