:root {
    --light-blue: rgb(55, 95, 187) !important;
    --light-green: rgb(40, 220, 70) !important;
    --light-red: rgb(216, 34, 34) !important;
}

.custom-tps-container {
    position: inherit;
    left: 0;
    z-index: 2;
}

.ui-range-thumb {
    z-index: 3 !important;
}

.custom-tps-input {
    height: 1.5vw;
    border-radius: 0.5vw;
    background: #ccc;
    border: none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 11.5vw;
    font-size: 1.25vw;
    padding: 0.25vw;
    font-family: 'Nunito', 'Trebuchet MS', 'Lucida Sans', Arial, serif;
}

.custom-tps-input:focus-visible {
    outline: 2px solid var(--light-blue);
}

.cuicomponent {
    font-size: 2.0vmin;
    font-family: 'Nunito', 'Trebuchet MS', 'Lucida Sans', Arial, serif;
}

.graphdlc-info {
    position: absolute;
    top: 1vmin;
    left: 1vmin;
}

.setting-value select {
    border-radius: 0.6vh !important;
    padding: 0.2rem !important;
}

.setting-value input[type='checkbox'] {
    width: 1.1rem !important;
    height: 1.1rem !important;
}

.ui-inventory-items {
    background-color: var(--light-blue) !important;
    border-radius: 1.2vw !important;
}

.ui-inventory-line {
    background-color: transparent !important;
}

.inventory-item {
    background-color: var(--background) !important;
    border-radius: 1.2vw !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.inventory-item img {
    width: 2.8vw !important;
    height: 2.8vw !important;
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}