:root {
  --bg-base: #1e2030;
  --bg-surface: #383b52;
  --bg-hover: #383b52;

  --bg-accent: #1a1b29;
  --bg-accent-active: #161722;

  --sidebar-text-primary: #383b52;

  --text-primary: #cbd5e1;
  --text-secondary: #586980;
  --text-muted: #94a3b8;
  --text-disabled: #575f7d;
  --text-light: #f1f5f9;

  --text-blue: #4c70e0;
  --text-green: #8ce99a;
  --text-red: #d94a4a;

  --border-default: #494d64;
  --checkbox-accent: #363f69;
  --bg-disabled: #25283d;
  --bg-disabled-checked: #2e334f;
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-muted {
  color: var(--text-muted) !important;
}

.text-blue {
  color: var(--text-blue) !important;
}

.text-green {
  color: var(--text-green) !important;
}

.text-red {
  color: var(--text-red) !important;
}
