.ui-inventory-items {
  background-color: var(--bg-disabled) !important;
}

.ui-inventory-line {
  background-color: transparent !important;
}

.inventory-item {
  background-color: var(--bg-disabled) !important;
}

.ui-toolbar-item-active {
  box-shadow: 0px 0px 0px 0.2vw var(--bg-disabled-checked) !important;
}
