@use "../shared/mixins" as *;

.ui-menu-panel {
  background-color: var(--bg-surface) !important;
}

.ui-menu-button {
  background-color: var(--bg-surface) !important;
}

.menu-icon-line {
  background-color: var(--bg-accent) !important;
}

.ui-menu-map-name-input {
  color: var(--text-light) !important;
}

.ui-menu-saving {
  color: var(--text-light) !important;
}

.ui-menu-back-text {
  color: var(--text-light) !important;
}
