.ui-speed-controller {
  background-color: var(--bg-surface) !important;
}

.ui-range-thumb-line.left {
  background-color: var(--bg-accent) !important;
}

.ui-range-tick {
  background-color: var(--bg-accent) !important;
}

.ui-text-message {
  color: var(--text-blue) !important;
}
