@use "../shared/mixins" as *;

.ui-toolbar {
  background-color: var(--bg-disabled) !important;
}

.ui-toolbar-item {
  background-color: var(--bg-disabled-checked) !important;
  span {
    color: var(--text-muted) !important;
  }
}

.ui-toolbar-arrow {
  &-right,
  &-left {
    img {
      @include icon-mask(var(--border-default));
    }
  }
}
