.custom-tps-input {
  z-index: 2;
  width: 19.5vmin !important;
  height: 3.5vmin;
  border-radius: 1vmin;
  border: none;
  margin: 0;
  position: absolute !important;
  top: 0;
  font-size: 2vmin;
  padding: 0.25vmin;
  font-family: "Nunito", "Trebuchet MS", "Lucida Sans", Arial, serif;
  left: 4vmin;
  background-color: var(--bg-surface) !important;

  &:focus-visible {
    outline: 2px solid var(--light-blue);
  }

  &.has-pause {
    width: 17.5vmin !important;
    left: 6vmin !important;
  }

  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body.platform-mobile {
  @media (orientation: portrait) {
    .custom-tps-input {
      width: 20.5vw !important;
      height: 5.5vw;
      border-radius: 2vw;

      &.has-pause {
        left: 9vw !important;
      }
    }
  }
}
