.ui-saved-item {
  background-color: var(--bg-hover) !important;
}

.ui-new-item {
  background-color: var(--bg-hover) !important;
}

.ui-maps-menu-item-name {
  color: var(--text-blue) !important;
}

.ui-saved-item-name {
  color: var(--text-muted) !important;
}
