.ui-saved-item {
  background-color: var(--bg-hover) !important;
}

.ui-new-item {
  background-color: var(--bg-hover) !important;
}

.ui-maps-menu-item-name {
  color: var(--text-blue) !important;
}

.ui-saved-item-name {
  color: var(--text-muted) !important;
}

.ui-map-settings {
  font-family: var(--font);
  font-size: clamp(0.5rem, 1.5vw, 1.2rem);
  flex-direction: column;
}
