#menu-page-content {
  background-color: var(--bg-base) !important;
}

.settings-page {
  display: flex;
  height: auto;
  max-height: 100vh;
  overflow-y: auto;
}

.setting-name {
  color: var(--text-primary);
}

.account-user-name-title {
  color: var(--text-primary);
}

.setting-value {
  color: var(--text-primary);
}

.setting-divider {
  border: none !important;
  hr {
    border: none !important;
    border-top: 1px solid var(--bg-surface) !important;
  }
}
